.goBackBtn {
    margin-bottom: 15px;
}

.movieWrapper {
    display: flex;
}

.moviePoster {
    width: 300px;
}

.movieDescrWrapper {
    padding-left: 15px;
}

.movieTitle {
    margin-bottom: 15px;
}

.movieDescrData {
    margin-bottom: 15px;
}

.movieDescrTitle {
    margin-bottom: 15px;
}

.additionalWrapper {
    padding: 15px 0;
}

.additionalListItem {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}
